.container {
  display:flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  align-items: baseline;
}

.inputs {
  display: flex;
  display: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
form {
  width: 100%;
}

input[type=text]{
  width: 92%;
  display: block;
  padding: 0.5rem;
}
button {
  width: 100%;
  padding: 0.5rem;
  background-color: #f5f5f5;
}

#coffee-list{
  width: 100%;
}

.success{
  background-color: #42f4ad;
}

.error {
  background-color: #f93307;
  color: white;
}
.message {
  padding: 1rem;
  text-align: center;
}
